:root {
    --clr-blue: rgba(11, 32, 38, 1);
    --clr-green: rgba(123, 201, 17, 1);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
}

/* #################
 TYPOGRAPHY
 ##################*/

h1, 
h2 {
    font-family: 'Abril Fatface', cursive;
    margin-top: 0;
}

h1 {
    margin-bottom: 0.6em;
    color: white;
    line-height: 1.2;
    font-size: 3rem;
}

h2 {
    color: var(--clr-green);
    font-size: 1.8rem;
    line-height: 1.3;
}

.services-heading, 
.form-heading,
.service {
    text-align: center;
}

.section-subtitle,
.service-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .825rem;
    letter-spacing: 1px;
}

.section-subtitle {
color: var(--clr-blue);
}

.spotlight-heading-subtitle {
    color: white;
}

.service-title {
    color: var(--clr-green);
}

.service-body {
    color: var(--clr-blue);
    font-size: .9rem;
}

.spotlight-body {
    color: white;
}

.spotlight-slideshow-pager {
    color: white;
    text-align: center;
    margin: 0;
}

#pager {
    margin-top: -.3em;
    margin-bottom: 0;
    font-size: 2.5rem;
    letter-spacing: 5px;
}

.pager-active {
    color: var(--clr-green);
}

.pager-element:not(.pager-active) {
    cursor:pointer;
    color: rgba(255,255,255,0.5);
    transition: color 250ms ease-in-out;
}

.pager-element:not(.pager-active):hover {
    cursor:pointer;
    color: white;
}

 /* ###############
 LAY-OUT
 ################*/
.container {
    max-width: 960px;
    width: 90%;
    margin: 0 auto;
}

.btn {
    background: var(--clr-green);
    border: 0;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    padding: 1em 2.5em;
    font-size: .9rem;
    cursor: pointer;
    transform: scale(1);
    transition: transform 250ms ease-in-out;
}

.btn:hover,
.btn:focus {
    transform: scale(1.1);
}

.cta-btn-desktop {
    display: inline;
}

.cta-btn-mobile {
    display: none;
}

nav {
    background: var(--clr-blue);
    width: 100%;
}

.navigation {
display: flex;
justify-content: space-between;
align-items: center;
padding: 0.75em 0;
}

.nav-logo {
    display: flex;
}

.nav-logo img {
    width: 100%;
    height: 50px;
    object-fit: cover;
}

header {
    background-image: url(../images/hero.jpg), linear-gradient(var(--clr-blue) 5%, rgba(123, 201, 17, 0.25));
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    min-height: 95vh;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 3em;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 15em;
}

.header-subtitle {
    margin: 0;
    padding: 0;
    color:white;
}

section {
    margin-bottom: 3em;
}

.services-list {
    display: flex;
    justify-content: space-between;
}


.service {
    width: 28%;
}

.services-heading,
.form-heading {
    padding: 0 5em;
}

.service {
    display: flex;
    flex-direction: column;
    margin-top: 1.5em;
}

.service-title {
    margin-bottom: 0;
}

.service-body {
    margin-top: .2em;
}

.service img {
    height: 250px;
    object-fit: cover;
    order: -1;
}

.spotlight {
    background: var(--clr-blue);
    padding: 4em 2em 1em;
    display: flex;
}

.spotlight-text {
    width: 45%;
    order: 2;
}

.spotlight-slideshow {
    width: 45%;
    position: relative;
}

.spotlight-slideshow-container {
    transform: translateX(-20%);
}


#spotlight-slideshow-image {
    display: block;
    width: 100%;
}

.form-elements {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-elements-inputs {
    width: 48%;
    margin-bottom: 1.2em;
}

.form-btn {
    width: 48%;
}

input, 
textarea {
    display: block;
    border-radius: 5px;
    border: 1px solid var(--clr-blue);
    padding: 1em .4em;
    margin-bottom: 1.2em;
    font-size: .9rem;
}

input:focus,
textarea:focus {
    outline: 3px solid var(--clr-green);
}

input {
    width: 100%;
}

.form-elements-textarea {
    width: 48%;
}


textarea {
    width: 100%;
    height: 15em;
    font-family: 'Roboto', sans-serif;
}

footer {
    margin-top: 4em;
    background: var(--clr-blue);
    color: white;
    line-height: .8;
    padding: 2em 0;
}

.footer {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 750px) {
    .header {
        padding-right: 1em;
    }

    .services-list {
        flex-direction: column;
        align-items: center;
    }

    .service {
        width: 90%;
        margin-top: 0;
    }

    .service img {
        order: 0;
        margin: .5em 0;
    }

    .spotlight {
        flex-direction: column;
        padding: 1em 2em;
    }

    .spotlight-text {
        width: 100%;
        order: 0;
    }

    .spotlight-slideshow {
        width: 100%;
    }

    .spotlight-slideshow-container {
        transform: translateX(0);
        position: relative;
    }

    .form-elements {
        flex-direction: column;
    }

    .form-elements-inputs,
    .form-elements-textarea,
    .form-btn {
        width: 100%;
    }

    .form-elements-inputs {
        margin-bottom: 0;
    }
}

@media (max-width: 475px) {
    .services-heading,
    .form-heading {
        padding: 0;
    }

    .cta-btn {
        padding: 1em;
    }
    
    .cta-btn-desktop {
        display: none;
    }

    .cta-btn-mobile {
        display: inline;
        font-size: 1.8rem;
        line-height: 1;
    }

    .footer {
        flex-direction: column;
        justify-content: space-between;
    }
}